@{
    ViewData["Title"] = "Home";
}

<h2>Download File</h2>

<p>
    <a href="@Url.Action("DownloadExcel", "Download")">Download Excel</a>
</p>
<p>
    <a href="@Url.Action("DownloadPdf", "Download")">Download PDF</a>
</p>
